* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BurbankBigCondensed;
  src: url(../assets/font/BurbankBigCondensed-Black.otf);
}
body {
  background-color: #f1f1f1;
}

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  min-width: 500px;
  min-height: 300px;
  border-radius: 4px;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.modal__close img {
  width: 30px;
  height: 30px;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.containerHome {
  margin: 0 100px;
}
.containerHome h1 {
  text-align: center;
  font-family: BurbankBigCondensed;
  font-size: 5rem;
  margin-top: 40px;
  margin-bottom: 50px;
}
.containerHome .content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.containerHome .content .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.containerHome .content .left .containerInformations h2 {
  font-family: Poppins;
  font-size: 2rem;
  margin-bottom: 20px;
}
.containerHome .content .left .containerInformations .ContainerWidgetInformations {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.containerHome .content .left .serreGlobalAction h2 {
  font-family: Poppins;
  font-size: 2rem;
  margin-bottom: 20px;
}
.containerHome .content .left .serreGlobalAction .ContainerWidgetActions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.containerHome .content .right {
  position: relative;
  width: 45%;
  overflow: hidden;
}
.containerHome .content .right .containerIlluSerre {
  position: relative;
}
.containerHome .content .right .containerIlluSerre .tap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 10rem;
  height: 10rem;
}
.containerHome .content .right .containerIlluSerre .tap:hover .illuSerre {
  transform: scale(1.03);
}
.containerHome .content .right .containerIlluSerre .illuSerre {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  overflow: visible;
  overflow: hidden;
  transition: all 0.5s ease;
}
.containerHome .content .right .containerIlluSerre .illuSerre:hover {
  transform: scale(1.03);
}
.containerHome .changeMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Poppins;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.containerHome .changeMode .switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 54px;
}
.containerHome .changeMode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.containerHome .changeMode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.containerHome .changeMode .slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.containerHome .changeMode .slider::after {
  content: "Manuel";
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.containerHome .changeMode input:checked + .slider {
  background-color: #2196F3;
}
.containerHome .changeMode input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.containerHome .changeMode input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateY(-50%);
  left: calc(100% - 44px);
}
.containerHome .changeMode input:checked + .slider:after {
  content: "Automatique";
  left: 5%;
  right: auto;
}
.containerHome .changeMode .slider.round {
  border-radius: 34px;
}
.containerHome .changeMode .slider.round:before {
  border-radius: 50%;
}

.itemVegetable {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.itemVegetable:hover {
  transform: translateZ(50px);
  opacity: 1;
}
.itemVegetable img {
  pointer-events: none;
}

.containerSerreDetails {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerSerreDetails .serre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 70%;
  height: 70vh;
  padding: 50px;
  perspective: 1000px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.modal__title {
  font-size: 2rem;
}

.changeMode {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.infos {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-top: 20px;
}
.infos h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #2196F3;
}
.infos .infos__item {
  margin-bottom: 10px;
}

.settings {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: white;
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.settings::after {
  content: url("../assets/img/disabled.svg");
  background-size: 50px, 50px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.settings.clickable {
  cursor: pointer;
  pointer-events: all;
}
.settings.clickable::after {
  display: none;
}
.settings h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #2196F3;
}
.settings .settings__item {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.settings .settings__item div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.settings .settings__item div h3 {
  font-size: 1.1rem;
}

.containerWidget {
  width: calc(50% - 10px);
  padding: 20px;
  border-radius: 10px;
  font-family: Poppins;
  background: #f1f1f1;
  box-shadow: 14px 14px 27px #8b8b8b, -14px -14px 27px #ffffff;
  margin-bottom: 30px;
}
.containerWidget .header {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.containerWidget .header h3 {
  color: #2196F3;
  font-size: 1.5rem;
}
.containerWidget p {
  font-size: 1.1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.8rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateY(-50%);
  left: calc(100% - 1.8rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #2196F3;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*# sourceMappingURL=globals.css.map */
