.containerHome{
  margin: 0 100px;
  h1{
    text-align: center;
    font-family: BurbankBigCondensed;
    font-size: 5rem;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .content{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    .left{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
      .containerInformations{
        h2{
          font-family: Poppins;
          font-size: 2rem;
          margin-bottom: 20px;
        }
        .ContainerWidgetInformations{
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
        }
      }
      .serreGlobalAction{
        h2{
          font-family: Poppins;
          font-size: 2rem;
          margin-bottom: 20px;
        }
        .ContainerWidgetActions{
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
        }
      }
    }
    .right{
      position: relative;
      width: 45%;
      overflow: hidden;
      .containerIlluSerre{
        position: relative;
        .tap{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1000;
          width: 10rem;
          height: 10rem;
        }
        .tap:hover .illuSerre{
          transform: scale(1.03);
        }
        .illuSerre{
          width: 100%;
          height: 500px;
          background-size: cover;
          background-position: center;
          margin: 0 auto;
          overflow: visible;
          overflow: hidden;
          transition: all 0.5s ease;
          &:hover{
            transform: scale(1.03);
          }
        }
      }
    }
  }
  .changeMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Poppins;
    .switch {
      position: relative;
      display: inline-block;
      width: 200px;
      height: 54px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 40px;
      width: 40px;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider::after{
      content: "Manuel";
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateY(-50%);
      left: calc(100% - 44px);
    }

    input:checked + .slider:after {
      content: "Automatique";
      left: 5%;
      right: auto;
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }
}