.itemVegetable{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: translateZ(50px);
        opacity: 1;
    }
    img{
        pointer-events: none;
    }
}